@import '../styles/base/variables';
@import '../styles/base/mixins';

.admin-panel {
  display: flex;
  min-height: 100vh;
  font-family: $font-family;

  &__content {
    flex: 1;
    background-color: $bg-light;
    padding: 2rem;
    overflow-y: auto;
    min-height: 100vh;
  }

  @include tablet {
    flex-direction: column;

    &__content {
      padding: $spacing-unit;
      min-height: auto;
    }
  }
}
