@import '../styles/base/variables';

.home-page {
    .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #fff;
      padding: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      text-align: center;

      a {
        margin: 0 1rem;
        color: $primary-color;
        text-decoration: none;
        font-size: 1rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .section {
      padding: 2rem;
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.8s ease, transform 0.8s ease;

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
