// Colores
$primary-color: #ef0381;
$secondary-color: #333;
$morado-color: #811988;
$text-color: #555;
$title-color: #000000;
$otros-color: #000000;

// Tipografía
$font-family: 'Poppins', sans-serif;

// Espaciado
$spacing-unit: 1rem;
