// Colores
$primary-color: #ef0381;
$secondary-color: #333;
$morado-color: #811988;
$text-color: #555;
$title-color: #000000;
$otros-color: #000000;

// Tipografía
$font-family: 'Poppins', sans-serif;

// Espaciado
$spacing-unit: 1rem;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1280px;
